<div class="container py-3">
  <h3 class="text-primary display-5">{{ _('Show your support for privacy online') }}</h3>
  <p>{{ _('When your organization joins the Tor Project’s Membership Program, you are demonstrating your commitment to privacy online and supporting Tor’s agility and development. In return, you become a closer part of our community with three specific benefits: access to our Onion Advisors group to help you integrate Tor into your product, inclusion in conversations and exclusive meetings with the Tor Project team to learn about what we are cooking at Tor, and public promotion of your membership.
  If you are interested in becoming a member, please reach out to us at <mark>giving@torproject.org.</mark>')|safe }}</p>
</div>
<div class="container py-3">
    <h3 class="text-primary display-5">{{ _('Membership Tiers') }}</h3>
    <p>{{ _('Membership tiers differ in their level of public promotion.  No matter the level of your contribution, members receive the same community benefits: access to our Onion Advisors group to help integrate Tor into your project and inclusion in conversations and exclusive meetings with the Tor Project team. At Tor, we love all of the onions, but shallots are the tastiest!') }}</p>
</div>
<div class="container">
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '/static/images/membership/shallot.png'|url }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#shallot">{{ _('Shallot Onion Member') }}</a>
          <p class="nick">{{ _('≥ $100,000 per year') }}</p>
          <p>{{ _('Your organization’s logo, linking back to your website, along with a quote from your organization about your motivation for joining the Membership Program, is featured on our Membership Program page. We will also engage in social media, events, and other promotional mechanisms.') }}</p>
      </div>
  </div>
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '/static/images/membership/vidalia.png'|url }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#vidalia">{{ _('Vidalia Onion Member') }}</a>
          <p class="nick">{{ _('$50,000 - $99,999 per year') }}</p>
          <p>{{ _('Your organization’s logo, linking back to your website, is featured on our Membership Program page. We will also engage in social media promotion.') }}</p>
      </div>
  </div>
  <div class="row py-3">
      <div class="col">
        <img class="img-fluid p-3 align-self-center float-right" width="200px" src="{{ '/static/images/membership/green.png'|url }}" />
      </div>
      <div class="col-sm-8">
          <a class="h2 col-12 text-primary p-0" href="#green">{{ _('Green Onion Member') }}</a>
          <p class="nick">{{ _('$10,000 - $49,999 per year') }}</p>
          <p>{{ _('Your organization’s name, linking back to your website, is featured on our Membership Program page.') }}</p>
      </div>
  </div>
</div>
<div class="container">
      <div class="row p-5 my-5 border text-center">
        <p>
          {{ md(_('Community is at the heart of the Tor Project Membership Program, and our members agree to join our community. As such, Members agree to adhere to Tor’s [Code of Conduct](https://gitweb.torproject.org/community/policies.git/tree/code_of_conduct.txt), [Social Contract](https://gitweb.torproject.org/community/policies.git/tree/social_contract.txt), and our [Statement of Values](https://gitweb.torproject.org/community/policies.git/tree/statement_of_values.txt).')) }}
        </p>
      </div>
    </div>
<div class="container" id="shallot">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4 pb-4">{{ _('Shallot Onion Members') }}</h3>
    <div class="col-md-4 col-xl-4 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top p-3" src="{{ '/static/images/membership/shallot-placeholder.png'|url }}" alt="">
        <div class="card-body preamble">
                <p>{{ _("Tor's primary benefit, for the uninitiated: It encrypts your traffic and bounces it through a chain of computers, making it very difficult for anyone to track where it came from. You can see how easy access to an anonymized services like that might come in handy when you're working on anything from job hunting to political organizing.") }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="">
        <div class="card-body">
          <p><a href="#" class="h4"></a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 my-2">
      <div class="card border-1 h-100">
        <img class="card-img-top" src="#" alt="">
        <div class="card-body">
          <p><a href="#" class="h4"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="vidalia">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4 pb-4">{{ _('Vidalia Onion Members') }}</h3>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <a href="https://team-cymru.com" target="_blank" title="Cymru">
          <img class="card-img-top" src="{{ '/static/images/membership/logos/cymru.png'|url }}" alt="Cymru">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <a href="https://mullvad.net" target="_blank" title="MullvadVPN">
          <img class="card-img-top" src="{{ '/static/images/membership/logos/mullvad.png'|url }}" alt="MullvadVPN">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
        <a href="https://samouraiwallet.com" target="_blank" title="Samourai Wallet">
          <img class="card-img-top" src="{{ '/static/images/membership/logos/samourai.png'|url }}" alt="Samourai Wallet">
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xl-3 my-2">
      <div class="card border-1 h-100">
	<img class="card-img-top" src="" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container" id="green">
  <div class="row py-5">
    <h3 class="col-12 text-primary display-4 pb-4">{{ _('Green Onion Members') }}</h3>
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
          <li class="list-group-item px-0">
            <p><a href="https://www.goblank.io/" title="Blank" target="_blank">Blank</a></p>
          </li>
          <li class="list-group-item px-0">
            <p><a href="https://blockchair.com/" title="Blockchair" target="_blank">Blockchair</a></p>
          </li>
	  <li class="list-group-item px-0">
            <p><a href="https://brave.com" title="Brave" target="_blank">Brave</a></p>
          </li>
          <li class="list-group-item px-0">
            <p><a href="https://defcon.org/" title="DEF CON" target="_blank">DEF CON</a></p>
          </li>
	  <li class="list-group-item px-0">
            <p><a href="https://duckduckgo.com" title="DuckDuckGo" target="_blank">DuckDuckGo</a></p>
          </li>
          <li class="list-group-item px-0">
            <p><a href="https://www.nytimes.com" title="The New York Times" target="_blank">The New York Times</a></p>
          </li>
	  <li class="list-group-item px-0">
            <p><a href="https://proton.me/" title="Proton" target="_blank">Proton</a></p>
          </li>

      </ul>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div class="col-12 py-5 bg-membership" style="background-image: url('{ /static/images/membership/header.png|url }'); background-size:cover;">
  <div class="row col-sm-8 py-5 text-center mx-auto"/>
  <h2 class="bg-white text-primary text-center p-4 mx-auto my-0">{{ _('Become a Member') }}</h2>
  <p class="bg-white text-center p-4">{{ md(_('Join the Tor Project Membership Program and demonstrate your commitment to privacy online and become more deeply involved in the Tor community. Email us at <mark>giving@torproject.org</mark> to get started.')) }}</p>
</div>
